<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://github.com/jakibaki/In-Home-Switching">In-Home-Switching by jakibaki</a>.<br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/In-Home-Switching">here</a>.<br>
<br>
You'll need the Windows client to get this running, which is not built here due to vendor lock-in. <a href="https://github.com/jakibaki/In-Home-Switching/releases/latest">The latest official build may contain it.</a><br>
<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
