<h3>BuildServNX</h3>

BuildServNX is an automated build service provided by <a href="https://lavatech.top">LavaTech</a>, completely for free.<br>
BSNX' Jenkins runs on an unprivileged Arch Linux LXC container on cloud. It then syncs built files to a different server running Ubuntu which hosts this website.<br>
Our website assets and build scripts are open source and can be found <a href="https://gitlab.com/ao/BuildServNX">here</a>.<br>
<br>
<b>LavaTech Team:</b>
<li>AveSatanas (ave#5554)</li>
<li>Luna (luna#6735)</li>
<br>
Want your project on BuildServNX? Email bsnx@ave.zone.<br>
<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.
