<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://github.com/adubbz/tinfoil">Tinfoil by Adubbz</a>.<br>
<b>This project is archived as Tinfoil is no longer maintained. No new builds will be done. <a href="https://bsnx.lavatech.top/goldleaf">Click here to view Goldleaf builds, which is the project that replaced Tinfoil.</a></b><br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/tinfoil">here</a>.<br>
<br>
You can donate to Adubbz and Tinfoil <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=TBB9Q9YL9AB74&lc=AU&item_name=Adubbz%27s%20Tools%20%26%20Game%20Mods&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">here</a>.<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
