<h3>BuildServNX</h3>

This folder contains automated builds of <a href="https://github.com/rajkosto/Atmosphere/tree/rajnx">an Atmosphere fork named RajNX by Rajkosto</a>.<br>
<b>This project is archived and no new builds will be done.</b><br>
If a commit's build isn't here, then it's either still compiling, the build failed or syncthing didn't sync the file yet. You can check Jenkins <a href="https://jenkins.lavatech.top/job/rajnx">here</a>.<br>
<br>
You can join LavaTech discord <a href="https://discord.gg/Kf4qvUC">here</a>.<br>
<br>
<b>The file at the top is the latest build!</b>
